In [1]:
import pymssql
import numpy as np
import pandas as pd
import datetime as dt
from collections import Counter

In [13]:
import tracemalloc

In [2]:
database = "arctic_analysts_capstone"
user = "arctic_analysts"
password  = "ThisPassw0rd!"
server = "gen10-data-fundamentals-22-02-sql-server.database.windows.net"

def get_data():
    conn = pymssql.connect(server, user, password, database)
    cursor = conn.cursor()
    
    query = f'SELECT * FROM house_prices'

    house_price_df = pd.read_sql(query, conn)
    print(f'\nBefore Data Management: {house_price_df.shape[0]}')

    return house_price_df

In [3]:
house_price_df = get_data()

Before Data Management: 611345

In [4]:
house_price_df.head()

         County  MedianHousePrice       Month State      timestamp
0  Tulsa County          160877.0  2020-04-30    OK  1652392678374
1  Tulsa County          166608.0  2020-09-30    OK  1652392678388
2  Tulsa County          161444.0  2020-05-31    OK  1652392678376
3  Tulsa County          167501.0  2020-10-31    OK  1652392678391
4  Tulsa County          169006.0  2020-11-30    OK  1652392678395

In [5]:
import plotly.express as px

In [6]:
house_price_df.sort_values(by = 'timestamp', inplace = True)
house_price_df.reset_index(drop = True, inplace = True)
house_price_df.reset_index(inplace = True)

In [7]:
house_price_df.head()

   index        County  MedianHousePrice       Month State      timestamp
0      0  Tulsa County          160877.0  2020-04-30    OK  1652392678374
1      1  Tulsa County          161444.0  2020-05-31    OK  1652392678376
2      2  Tulsa County          162350.0  2020-06-30    OK  1652392678379
3      3  Tulsa County          163634.0  2020-07-31    OK  1652392678381
4      4  Tulsa County          165134.0  2020-08-31    OK  1652392678384

In [8]:
house_price_df.rename(columns = {'index': 'record_count'}, inplace = True)

In [9]:
import datetime as dt

In [10]:
# In windows, the timestamp number is multiplied by a factor of 1000

house_price_df['timestamp'] = house_price_df['timestamp'].apply(lambda x: dt.datetime.fromtimestamp(x/1000))

In [11]:
house_price_df

,record_count,County,MedianHousePrice,Month,State,timestamp
0,0,Tulsa County,160877.0,2020-04-30,OK,2022-05-12 16:57:58.374
1,1,Tulsa County,161444.0,2020-05-31,OK,2022-05-12 16:57:58.376
2,2,Tulsa County,162350.0,2020-06-30,OK,2022-05-12 16:57:58.379
3,3,Tulsa County,163634.0,2020-07-31,OK,2022-05-12 16:57:58.381
4,4,Tulsa County,165134.0,2020-08-31,OK,2022-05-12 16:57:58.384
...,...,...,...,...,...,...
611340,611340,San Juan County,367295.0,2021-12-31,CO,2022-05-12 18:22:33.795
611341,611341,San Juan County,372622.0,2022-01-31,CO,2022-05-12 18:22:33.798
611342,611342,San Juan County,377727.0,2022-02-28,CO,2022-05-12 18:22:33.801
611343,611343,San Juan County,379817.0,2022-03-31,CO,2022-05-12 18:22:33.804
611344,611344,San Juan County,381441.0,2022-04-30,CO,2022-05-12 18:22:33.809