In [ ]:
import arima_model as arm
import data_getter as data_con
import importlib
import pandas as pd

importlib.reload(arm)

targets = ['MedianIncome', 'MedianHousePrice', 'AverageRate','AveragePoints','NewBuildings','NewUnits']
target = 'MedianIncome'
age_range = '25-44'
target_fips = '34001'



all_df = data_con.run_queries()
master_table = data_con.join_tables(all_df)

prediction_dataframes = []
age_ranges = master_table.AgeGroup.unique().tolist()
age_ranges = [_ for _ in age_ranges if str(_) != 'nan']
all_fips = master_table.FIPS.unique().tolist()
total = len(all_fips) * len(age_ranges)

cntr = 0
for i, age_range in enumerate(age_ranges):
    for ii, target_fips in enumerate(all_fips):
        params = [target_fips, age_range]
        target = 'MedianIncome'
        try:
            graph_ready, export_ready = arm.dispatcher(master_table, target, params)
        except Exception as E:
            print(f'Failure: {E}, params: {params}')
            cntr += 1
            continue
        export_ready['AgeGroup'] = age_range
        prediction_dataframes.append(export_ready)
        cntr += 1
        print(f'{cntr} of {total} completed')

In [71]:
main_frame = pd.DataFrame()
for frame in prediction_dataframes:
    frame['FIPS'] = frame['FIPS'].tolist()[0]
    main_frame = pd.concat([main_frame, frame])

In [74]:
main_frame.to_csv('PredictedIncomeFinal.csv',index = False)

In [76]:
main_frame.head(50)

    Year   FIPS  MedianIncome AgeGroup  train_and_predicted
0   2005  34001       52040.0    25-44                  NaN
1   2006  34001       57582.0    25-44                  NaN
2   2007  34001       61533.0    25-44                  NaN
3   2008  34001       54092.0    25-44                  NaN
4   2009  34001       61628.0    25-44                  NaN
5   2010  34001       49904.0    25-44                  NaN
6   2011  34001       50104.0    25-44                  NaN
7   2012  34001       51046.0    25-44                  NaN
8   2013  34001       52766.0    25-44                  NaN
9   2014  34001       54343.0    25-44                  NaN
10  2015  34001       56660.0    25-44                  NaN
11  2016  34001       56332.0    25-44                  NaN
12  2017  34001       65295.0    25-44                  NaN
13  2018  34001       61793.0    25-44                  NaN
14  2019  34001       65106.0    25-44                  NaN
15  2020  34001           NaN    25-44         64806.352802
16  2021  34001           NaN    25-44         65173.141791
17  2022  34001           NaN    25-44         65149.951360
18  2023  34001           NaN    25-44         65190.852772
19  2024  34001           NaN    25-44         65189.425842
20  2025  34001           NaN    25-44         65194.020912
21  2026  34001           NaN    25-44         65193.994199
22  2027  34001           NaN    25-44         65194.514359
23  2028  34001           NaN    25-44         65194.526619
24  2029  34001           NaN    25-44         65194.585950
0   2005  34003       79122.0    25-44                  NaN
1   2006  34003       82115.0    25-44                  NaN
2   2007  34003       86144.0    25-44                  NaN
3   2008  34003       83599.0    25-44                  NaN
4   2009  34003       85638.0    25-44                  NaN
5   2010  34003       82334.0    25-44                  NaN
6   2011  34003       89101.0    25-44                  NaN
7   2012  34003       92210.0    25-44                  NaN
8   2013  34003       85633.0    25-44                  NaN
9   2014  34003       88932.0    25-44                  NaN
10  2015  34003      100285.0    25-44                  NaN
11  2016  34003      101172.0    25-44                  NaN
12  2017  34003      102075.0    25-44                  NaN
13  2018  34003      110642.0    25-44                  NaN
14  2019  34003      119900.0    25-44                  NaN
15  2020  34003           NaN    25-44        127555.338213
16  2021  34003           NaN    25-44        133885.948335
17  2022  34003           NaN    25-44        140145.661988
18  2023  34003           NaN    25-44        146405.375641
19  2024  34003           NaN    25-44        152665.089294
20  2025  34003           NaN    25-44        158924.802947
21  2026  34003           NaN    25-44        165184.516600
22  2027  34003           NaN    25-44        171444.230253
23  2028  34003           NaN    25-44        177703.943906
24  2029  34003           NaN    25-44        183963.657559

In [69]:
prediction_dataframes[7]

    Year   FIPS  MedianIncome AgeGroup  train_and_predicted
0   2005  34015       72375.0    25-44                  NaN
1   2006  34015       75948.0    25-44                  NaN
2   2007  34015       79959.0    25-44                  NaN
3   2008  34015       77282.0    25-44                  NaN
4   2009  34015       77956.0    25-44                  NaN
5   2010  34015       81491.0    25-44                  NaN
6   2011  34015       79688.0    25-44                  NaN
7   2012  34015       82107.0    25-44                  NaN
8   2013  34015       76737.0    25-44                  NaN
9   2014  34015       93984.0    25-44                  NaN
10  2015  34015       88084.0    25-44                  NaN
11  2016  34015       93758.0    25-44                  NaN
12  2017  34015      101685.0    25-44                  NaN
13  2018  34015       99834.0    25-44                  NaN
14  2019  34015      101800.0    25-44                  NaN
15  2020    NaN           NaN    25-44        103923.778300
16  2021    NaN           NaN    25-44        107426.885261
17  2022    NaN           NaN    25-44        111502.340205
18  2023    NaN           NaN    25-44        115527.678072
19  2024    NaN           NaN    25-44        119553.015939
20  2025    NaN           NaN    25-44        123578.353806
21  2026    NaN           NaN    25-44        127603.691673
22  2027    NaN           NaN    25-44        131629.029540
23  2028    NaN           NaN    25-44        135654.367407
24  2029    NaN           NaN    25-44        139679.705274

In [67]:
print('this')

this

# Exploration below this line. The code is messy...

In [ ]:
assert 1 == 2 # Not kidding. You don't want to run this stuff.
# Get the filtered data
filtered_df = arm.filter_data(master_table, target, params)
adf_filtered_df, best_col, num_diffs = arm.get_adf(filtered_df, target)

In [ ]:
ready_for_undiff, num_diffs = arm.control_arima(master_table, target, params)

In [ ]:
ready_for_undiff

In [ ]:
df = adf_filtered_df.copy()

#df = ready_for_undiff.copy()
target = 'diff_2'
num_diffs = 2
df['moving_diff'] = df[base_column]
for i in range(0,num_diffs):
    df['moving_diff'] = df['moving_diff'].shift(-num_diffs)
    df[target] = df[target].shift(-num_diffs)
    
    df['moving_diff'] = df['moving_diff'] + df['MedianIncome']
    
df['moving_diff']
    
df

In [ ]:
df['trained'] = df['train_set'].shift(-1)
df['diff_2'] = df['diff_2'].shift(-2)

df['undiffed_1'] = df['diff_1'] + df['MedianIncome']
df['diff_2'] = df['diff_2'] + df['diff_1']
df['diff_2'] = df['diff_2'].shift(1)
df['undiffed_2'] = df['diff_2'] + df['MedianIncome']

df['undiffed_1'] = df['undiffed_1'].shift(1)
df['undiffed_2'] = df['undiffed_2'].shift(1)

df['passed_1'] = df['undiffed_1'] == df['MedianIncome']
df['passed_2'] = df['undiffed_2'] == df['MedianIncome']

df[['MedianIncome','diff_1','diff_2','MedianIncome','undiffed_1','undiffed_2','passed_1','passed_2']]

In [ ]:
copy_for_undifferencing = ready_for_undiff.copy()
copy_for_undifferencing['diff_1'] = copy_for_undifferencing['diff_1'].shift(-1)
copy_for_undifferencing['diff_2'] = copy_for_undifferencing['diff_2'].shift(-2)

copy_for_undifferencing['undiffed_1'] = copy_for_undifferencing['diff_1'] + copy_for_undifferencing['MedianIncome']
copy_for_undifferencing['diff_2'] = copy_for_undifferencing['diff_2'] + copy_for_undifferencing['diff_1']
copy_for_undifferencing['diff_2'] = copy_for_undifferencing['diff_2'].shift(1)
copy_for_undifferencing['undiffed_2'] = copy_for_undifferencing['diff_2'] + copy_for_undifferencing['MedianIncome']

copy_for_undifferencing['undiffed_1'] = copy_for_undifferencing['undiffed_1'].shift(1)
copy_for_undifferencing['undiffed_2'] = copy_for_undifferencing['undiffed_2'].shift(1)

copy_for_undifferencing['passed_1'] = copy_for_undifferencing['undiffed_1'] == copy_for_undifferencing['MedianIncome']
copy_for_undifferencing['passed_2'] = copy_for_undifferencing['undiffed_2'] == copy_for_undifferencing['MedianIncome']

copy_for_undifferencing[['MedianIncome','diff_1','diff_2','MedianIncome','undiffed_1','undiffed_2','passed_1','passed_2']]

In [ ]:
assert 1 == 2 # Don't run this one if we don't need to (90 minute run time)
prediction_dataframes = []
age_ranges = master_table.AgeGroup.unique().tolist()
age_ranges = [_ for _ in age_ranges if str(_) != 'nan']
all_fips = master_table.FIPS.unique().tolist()
total = len(all_fips) * len(age_ranges)

cntr = 0
for i, age_range in enumerate(age_ranges):
    for ii, target_fips in enumerate(all_fips):
        params = [target_fips, age_range]
        target = 'MedianIncome'
        try:
            graph_ready, export_ready = arm.dispatcher(master_table, target, params)
        except Exception as E:
            print(f'Failure: {E}, params: {params}')
            cntr += 1
            continue
        export_ready['AgeGroup'] = age_range
        prediction_dataframes.append(export_ready)
        cntr += 1
        print(f'{cntr} of {total} completed')

In [ ]:
prediction_dataframes = []
all_fips = master_table.FIPS.unique().tolist()
total = len(all_fips)

cntr = 0
for i, target_fips in enumerate(all_fips):
    params = [target_fips]
    target = 'MedianHousePrice'
    try:
        graph_ready, export_ready = arm.dispatcher(master_table, target, params)
    except Exception as E:
        print(f'Failure: {E}, params: {params}')
        cntr += 1
        continue
    prediction_dataframes.append(export_ready)
    cntr += 1
    print(f'{cntr} of {total} completed')

In [ ]:
target = 'MedianHousePrice'
arm.graph_final_results(graph_ready, target)

In [ ]:
export_ready

In [ ]:

main_df = pd.DataFrame()

for df in prediction_dataframes:
    main_df = pd.concat([main_df,df])
    
main_df

In [ ]:
main_df.tail(50)

In [ ]:
main_df.to_csv("PredictedHousePrices.csv", index = False)

In [ ]:
starter = main_df.shape[0]
print(starter * .15)

In [ ]:
import joblib

In [ ]:
prediction_dataframes = []
age_ranges = master_table.AgeGroup.unique().tolist()
age_ranges = [_ for _ in age_ranges if str(_) != 'nan']
all_fips = master_table.FIPS.unique().tolist()
total = len(all_fips) * len(age_ranges)
params = [target_fips, age_range]
target = 'MedianIncome'
    
graph_ready, export_ready = arm.dispatcher(master_table, target, params)

In [ ]:
graph_ready

graph_ready

In [ ]:
from pmdarima.arima import auto_arima
from pmdarima.arima import ADFTest
import inspect
from bs4 import BeautifulSoup

soup = inspect.getsource(auto_arima)
print(soup)

In [ ]:
#Docs = https://alkaline-ml.com/pmdarima/modules/generated/pmdarima.arima.auto_arima.html
from pmdarima.arima import auto_arima
from pmdarima.arima import ADFTest

target_fips = '34005'
params = [target_fips, age_range]
params = [target_fips]
target = 'MedianHousePrice'

In [ ]:
adf_test = ADFTest(alpha=0.05)
filtered_data = arm.filter_data(master_table, target, params)
adf_test.should_diff(filtered_data[target])

In [ ]:
#filtered_data.index = filtered_data.index.astype('str')

from sklearn.model_selection import train_test_split
y_train, y_test = train_test_split(filtered_data[[target]].dropna(), train_size = .75, shuffle = False)

fig, ax = plt.subplots()

y_train.plot(ax=ax)
y_test.plot(ax=ax)
plt.show()

arima_model = auto_arima(
    #Data
    y_train, 
    #NonSeasonalComponents
    start_p=0, start_q=0, d=1, max_p=5, max_d=5, max_q=5, 
    #SeasonalComponents
    start_P=0, D=1, start_Q=0, max_P=5, max_D=5,
    max_Q=5, m=4, seasonal=True, trace=True, stepwise=False, n_fits = 100)

prediction = pd.DataFrame(arima_model.predict(n_periods=y_test.shape[0]), index = y_test.index)
prediction.columns = [target+"_Prediction"]


# y_train = y_train.reset_index()
# y_train.drop(columns = ['new_index'], inplace = True)
# new_df = pd.concat([y_train,prediction])
# new_df = new_df.reset_index(drop = True)

In [ ]:
import seaborn as sns

In [ ]:
fig, ax = plt.subplots(figsize = (12,5))
# y_train.plot(ax=ax)
# y_test.plot(ax=ax)
#new_df.plot(ax=ax)
ax = sns.lineplot(x = y_train.index, y = y_train.MedianHousePrice)
ax = sns.lineplot(x = y_test.index, y = y_test.MedianHousePrice)
ax = sns.lineplot(x = prediction.index, y = prediction.MedianHousePrice_Prediction)
# y_train.plot(ax = ax)
# y_test.plot(ax = ax)
# prediction.plot(ax = ax)
plt.show()

In [ ]:
#Docs = https://alkaline-ml.com/pmdarima/modules/generated/pmdarima.arima.auto_arima.html
from pmdarima.arima import auto_arima
from pmdarima.arima import ADFTest

# Get your data into the state it needs to be in
filtered_data = ?

adf_test.should_diff(filtered_data['MedianIncome'])

#filtered_data.index = filtered_data.index.astype('str')

from sklearn.model_selection import train_test_split
y_train, y_test = train_test_split(filtered_data['MedianIncome'].dropna(), train_size = .75, shuffle = False)

# This plotting method was necessary because my data was indexed by time period
fig, ax = plt.subplots()
y_train.plot(ax=ax)
y_test.plot(ax=ax)
plt.show()

arima_model = auto_arima(
    #Data
    y_train, 
    #NonSeasonalComponents
    start_p=0, start_q=0, d=1, max_p=5, max_d=5, max_q=5, 
    #SeasonalComponents
    start_P=0, D=1, start_Q=0, max_P=5, max_D=5,
    max_Q=5, m=1, seasonal=False, trace=True, stepwise=False, n_fits = 100)

prediction = pd.DataFrame(arima_model.predict(n_periods=20, index = y_test.index))
prediction.columns = ['Predictions']
plt.plot(prediction)