In [ ]:
import pymssql
import numpy as np
import pandas as pd
import datetime as dt
from collections import Counter

In [ ]:
import tracemalloc

In [ ]:
database = "arctic_analysts_capstone"
user = "arctic_analysts"
password  = "ThisPassw0rd!"
server = "gen10-data-fundamentals-22-02-sql-server.database.windows.net"

def sql_query(query):
    conn = pymssql.connect(server, user, password, database)
    cursor = conn.cursor()
    queried_data = pd.read_sql(query, conn)
    return queried_data

In [ ]:
tables = [
    'building_permits',
    'mortgage_rates',
    'house_prices',
    'median_income',
]

query = f"SELECT * FROM {tables[0]}" # Query Example
bp_df = sql_query(query)

In [ ]:
bp_df[(bp_df.FIPS == '56039') & (bp_df.Year == 2022)]#['NewBuildings'].sum()

In [ ]:
grouped = bp_df.groupby(by = ['Year','FIPS','County'])[['NewUnits','NewBuildings']].agg('sum').reset_index()

grouped = grouped[(~grouped.County.str.contains('Balance'))]

In [ ]:
bp_df.isnull().sum()

In [ ]:
grouped.memory_usage()

In [ ]:
house_price_df.head()

In [ ]:
import plotly.express as px

In [ ]:
house_price_df.sort_values(by = 'timestamp', inplace = True)
house_price_df.reset_index(drop = True, inplace = True)
house_price_df.reset_index(inplace = True)

In [ ]:
house_price_df.head()

In [ ]:
house_price_df.rename(columns = {'index': 'record_count'}, inplace = True)

In [ ]:
import datetime as dt

In [ ]:
# In windows, the timestamp number is multiplied by a factor of 1000

house_price_df['timestamp'] = house_price_df['timestamp'].apply(lambda x: dt.datetime.fromtimestamp(x/1000))

In [ ]:
house_price_df

In [5]:
(179 / ((179*.05) + 179))

0.9523809523809524

In [6]:
179 * .05

8.950000000000001

In [7]:
179 * 1.05

187.95000000000002

In [8]:
x = [1,2,3,4,5]
import pandas as pd

In [13]:
df = pd.DataFrame(x, columns = ['column1'])
x

[1, 2, 3, 4, 5]

In [14]:
df

   column1
0        1
1        2
2        3
3        4
4        5

In [15]:
y = [7,8,9,10]
new_df = pd.DataFrame(y)

In [16]:
new_df

    0
0   7
1   8
2   9
3  10

In [19]:
combined = pd.merge(new_df, df, left_index)

In [20]:
combined

   column1     0
0      1.0   NaN
1      2.0   NaN
2      3.0   NaN
3      4.0   NaN
4      5.0   NaN
0      NaN   7.0
1      NaN   8.0
2      NaN   9.0
3      NaN  10.0

In [21]:
import datetime as dt

In [41]:
date_list = pd.date_range(start = '2022-07-15', periods = 100, freq = 'M').to_pydatetime().tolist()
date_list = [dt.datetime.strptime(f'{_.year}-{_.month}-15', '%Y-%m-%d') for _ in date_list]
date_list

[datetime.datetime(2022, 7, 15, 0, 0),
 datetime.datetime(2022, 8, 15, 0, 0),
 datetime.datetime(2022, 9, 15, 0, 0),
 datetime.datetime(2022, 10, 15, 0, 0),
 datetime.datetime(2022, 11, 15, 0, 0),
 datetime.datetime(2022, 12, 15, 0, 0),
 datetime.datetime(2023, 1, 15, 0, 0),
 datetime.datetime(2023, 2, 15, 0, 0),
 datetime.datetime(2023, 3, 15, 0, 0),
 datetime.datetime(2023, 4, 15, 0, 0),
 datetime.datetime(2023, 5, 15, 0, 0),
 datetime.datetime(2023, 6, 15, 0, 0),
 datetime.datetime(2023, 7, 15, 0, 0),
 datetime.datetime(2023, 8, 15, 0, 0),
 datetime.datetime(2023, 9, 15, 0, 0),
 datetime.datetime(2023, 10, 15, 0, 0),
 datetime.datetime(2023, 11, 15, 0, 0),
 datetime.datetime(2023, 12, 15, 0, 0),
 datetime.datetime(2024, 1, 15, 0, 0),
 datetime.datetime(2024, 2, 15, 0, 0),
 datetime.datetime(2024, 3, 15, 0, 0),
 datetime.datetime(2024, 4, 15, 0, 0),
 datetime.datetime(2024, 5, 15, 0, 0),
 datetime.datetime(2024, 6, 15, 0, 0),
 datetime.datetime(2024, 7, 15, 0, 0),
 datetime.datetime(2024, 8, 15, 0, 0),
 datetime.datetime(2024, 9, 15, 0, 0),
 datetime.datetime(2024, 10, 15, 0, 0),
 datetime.datetime(2024, 11, 15, 0, 0),
 datetime.datetime(2024, 12, 15, 0, 0),
 datetime.datetime(2025, 1, 15, 0, 0),
 datetime.datetime(2025, 2, 15, 0, 0),
 datetime.datetime(2025, 3, 15, 0, 0),
 datetime.datetime(2025, 4, 15, 0, 0),
 datetime.datetime(2025, 5, 15, 0, 0),
 datetime.datetime(2025, 6, 15, 0, 0),
 datetime.datetime(2025, 7, 15, 0, 0),
 datetime.datetime(2025, 8, 15, 0, 0),
 datetime.datetime(2025, 9, 15, 0, 0),
 datetime.datetime(2025, 10, 15, 0, 0),
 datetime.datetime(2025, 11, 15, 0, 0),
 datetime.datetime(2025, 12, 15, 0, 0),
 datetime.datetime(2026, 1, 15, 0, 0),
 datetime.datetime(2026, 2, 15, 0, 0),
 datetime.datetime(2026, 3, 15, 0, 0),
 datetime.datetime(2026, 4, 15, 0, 0),
 datetime.datetime(2026, 5, 15, 0, 0),
 datetime.datetime(2026, 6, 15, 0, 0),
 datetime.datetime(2026, 7, 15, 0, 0),
 datetime.datetime(2026, 8, 15, 0, 0),
 datetime.datetime(2026, 9, 15, 0, 0),
 datetime.datetime(2026, 10, 15, 0, 0),
 datetime.datetime(2026, 11, 15, 0, 0),
 datetime.datetime(2026, 12, 15, 0, 0),
 datetime.datetime(2027, 1, 15, 0, 0),
 datetime.datetime(2027, 2, 15, 0, 0),
 datetime.datetime(2027, 3, 15, 0, 0),
 datetime.datetime(2027, 4, 15, 0, 0),
 datetime.datetime(2027, 5, 15, 0, 0),
 datetime.datetime(2027, 6, 15, 0, 0),
 datetime.datetime(2027, 7, 15, 0, 0),
 datetime.datetime(2027, 8, 15, 0, 0),
 datetime.datetime(2027, 9, 15, 0, 0),
 datetime.datetime(2027, 10, 15, 0, 0),
 datetime.datetime(2027, 11, 15, 0, 0),
 datetime.datetime(2027, 12, 15, 0, 0),
 datetime.datetime(2028, 1, 15, 0, 0),
 datetime.datetime(2028, 2, 15, 0, 0),
 datetime.datetime(2028, 3, 15, 0, 0),
 datetime.datetime(2028, 4, 15, 0, 0),
 datetime.datetime(2028, 5, 15, 0, 0),
 datetime.datetime(2028, 6, 15, 0, 0),
 datetime.datetime(2028, 7, 15, 0, 0),
 datetime.datetime(2028, 8, 15, 0, 0),
 datetime.datetime(2028, 9, 15, 0, 0),
 datetime.datetime(2028, 10, 15, 0, 0),
 datetime.datetime(2028, 11, 15, 0, 0),
 datetime.datetime(2028, 12, 15, 0, 0),
 datetime.datetime(2029, 1, 15, 0, 0),
 datetime.datetime(2029, 2, 15, 0, 0),
 datetime.datetime(2029, 3, 15, 0, 0),
 datetime.datetime(2029, 4, 15, 0, 0),
 datetime.datetime(2029, 5, 15, 0, 0),
 datetime.datetime(2029, 6, 15, 0, 0),
 datetime.datetime(2029, 7, 15, 0, 0),
 datetime.datetime(2029, 8, 15, 0, 0),
 datetime.datetime(2029, 9, 15, 0, 0),
 datetime.datetime(2029, 10, 15, 0, 0),
 datetime.datetime(2029, 11, 15, 0, 0),
 datetime.datetime(2029, 12, 15, 0, 0),
 datetime.datetime(2030, 1, 15, 0, 0),
 datetime.datetime(2030, 2, 15, 0, 0),
 datetime.datetime(2030, 3, 15, 0, 0),
 datetime.datetime(2030, 4, 15, 0, 0),
 datetime.datetime(2030, 5, 15, 0, 0),
 datetime.datetime(2030, 6, 15, 0, 0),
 datetime.datetime(2030, 7, 15, 0, 0),
 datetime.datetime(2030, 8, 15, 0, 0),
 datetime.datetime(2030, 9, 15, 0, 0),
 datetime.datetime(2030, 10, 15, 0, 0)]